Repository mogbeyi-david/codecov-testing: changes, and which Codecov flags are due for each by the changed paths.
All: firstProject, secondProject

work
  codecov.yml
Due: none

work
  .idea/workspace.xml
Due: none

work
  .idea/workspace.xml
  codecov.yml
Due: none

Added some method
  .idea/workspace.xml
  second-project/functions.js
Due: secondProject

Added full coverage
  .idea/workspace.xml
  second-project/functions.js
  second-project/index.test.js
Due: secondProject

Rearranged commands
  .github/workflows/deployment.yml
  .idea/workspace.xml
  first-project/package.json
Due: firstProject

Removed idea file
  .idea/workspace.xml
Due: none

Removed idea file
  .github/workflows/deployment.yml
  second-project/package.json
Due: secondProject

Changed target of repos
  .idea/workspace.xml
  codecov.yml
Due: none

Changed target of repos
  codecov.yml
Due: none

removed test
  second-project/index.test.js
Due: secondProject

removed test
  codecov.yml
Due: none

removed test
  .idea/workspace.xml
  codecov.yml
Due: none

dsds
  codecov.yml
Due: none

Set carry forward flag to true
  .idea/workspace.xml
  codecov.yml
Due: none

Set target for parent project
  .idea/workspace.xml
  codecov.yml
Due: none

restored test
  second-project/index.test.js
Due: secondProject

removed test
  first-project/index.test.js
Due: firstProject

replaced test
  first-project/index.test.js
Due: firstProject

Editted yaml file
  .idea/workspace.xml
  codecov.yml
Due: none

Editted yaml file
  .idea/workspace.xml
  first-project/package.json
  second-project/package.json
Due: firstProject, secondProject

Editted file path
  .idea/workspace.xml
  codecov.yml
  first-project/package.json
  second-project/package.json
Due: firstProject, secondProject

removed gradle caching issue
  .idea/workspace.xml
  codecov.yml
Due: none

Filter by flags
  .idea/workspace.xml
  codecov.yml
Due: none

Editted flags
  .idea/workspace.xml
  codecov.yml
Due: none

to be clear
  codecov.yml
Due: none

Used lower case for flags
  codecov.yml
Due: none

Capitalized project names
  codecov.yml
Due: none

Returned project name to lower case
  .idea/workspace.xml
  codecov.yml
Due: none

capitalized flag name
  codecov.yml
Due: none

Renamed flags
  .idea/workspace.xml
  codecov.yml
Due: none

Path conditions:
  firstProject: any of: first-project/
  secondProject: any of: second-project/
